Repository firot1993/portfolio-tracker: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

feat: 添加删除交易和直接添加仓位功能
  backend/package-lock.json
  backend/src/routes/holdings.ts
  backend/src/routes/transactions.ts
  backend/src/services/priceService.ts
  frontend/package-lock.json
  frontend/src/App.tsx
  frontend/src/index.css
  frontend/src/services/api.ts
Due: backend, frontend

feat: add symbol management panel and improve E2E tests
  .gitignore
  backend/src/routes/assets.ts
  frontend/e2e/app.spec.ts
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/services/api.ts
  frontend/vite.config.ts
Due: backend, frontend

chore: remove coverage files from git tracking
  backend/coverage/base.css
  backend/coverage/block-navigation.js
  backend/coverage/coverage-final.json
  backend/coverage/db/index.html
  backend/coverage/db/index.ts.html
  backend/coverage/favicon.png
  backend/coverage/index.html
  backend/coverage/prettify.css
  backend/coverage/prettify.js
  backend/coverage/routes/assets.ts.html
  backend/coverage/routes/holdings.ts.html
  backend/coverage/routes/index.html
  backend/coverage/routes/portfolio.ts.html
  backend/coverage/routes/transactions.ts.html
  backend/coverage/services/index.html
  backend/coverage/services/priceService.ts.html
  backend/coverage/sort-arrow-sprite.png
  backend/coverage/sorter.js
  frontend/coverage/base.css
  frontend/coverage/block-navigation.js
  frontend/coverage/coverage-final.json
  frontend/coverage/favicon.png
  frontend/coverage/index.html
  frontend/coverage/prettify.css
  frontend/coverage/prettify.js
  frontend/coverage/sort-arrow-sprite.png
  frontend/coverage/sorter.js
  frontend/coverage/src/App.css.html
  frontend/coverage/src/App.tsx.html
  frontend/coverage/src/index.html
  frontend/coverage/src/services/api.ts.html
  frontend/coverage/src/services/index.html
  frontend/coverage/src/types/index.html
  frontend/coverage/src/types/index.ts.html
Due: backend, frontend

fix: resolve TypeScript build errors
  backend/src/routes/assets.ts
  frontend/src/App.tsx
  frontend/tsconfig.app.json
  frontend/vite.config.ts
  frontend/vitest.config.ts
Due: backend, frontend

feat: add environment support for database
  .github/workflows/ci.yml
  backend/package-lock.json
  backend/package.json
  backend/src/db/index.ts
  backend/src/index.ts
Due: backend

deploy: f7b2d07e42df7d01125244eb65d11fa1c312d065
  .nojekyll
  pr-10/assets/index-DuAo7lWz.css
  pr-10/assets/index-R7U9iVpJ.js
  pr-10/index.html
  pr-10/vite.svg
Due: none

Implement price cache with config support
  backend/config/development.json
  backend/config/production.json
  backend/src/services/priceService.ts
  backend/src/utils/config.ts
Due: backend

Update dependencies and add config files
  backend/package-lock.json
  config/development.json
  config/production.json
  frontend/package-lock.json
Due: backend, frontend

Remove duplicate config directory from root
  config/development.json
  config/production.json
Due: none

deploy: 6a58e1fe086061281fd18463d268c0b11ed0a009
  assets/index-DuAo7lWz.css
  assets/index-R7U9iVpJ.js
  index.html
  vite.svg
Due: none

Add test.json config file for CI/CD
  backend/config/test.json
Due: backend

deploy: 9d8769dd192c5145de581cfed13fc6d7a14134e9
  pr-12/assets/index-DuAo7lWz.css
  pr-12/assets/index-R7U9iVpJ.js
  pr-12/index.html
  pr-12/vite.svg
Due: none

Enhance price cache with environment-specific configs and LRU eviction
  backend/config/development.json
  backend/config/test.json
  backend/src/__tests__/cache.test.ts
  backend/src/services/priceService.ts
Due: backend

deploy: d1eaffea915cb8b127085b1b973e78a373bc3696
  pr-12/assets/index-DuAo7lWz.css
  pr-12/assets/index-R7U9iVpJ.js
  pr-12/index.html
  pr-12/vite.svg
Due: none

phase2
  backend/package.json
  backend/src/db/index.ts
  backend/src/db/seed.ts
  backend/src/db/seeds.ts
  backend/src/index.ts
  backend/src/routes/assets.ts
  backend/src/routes/history.ts
  backend/src/routes/holdings.ts
  backend/src/routes/portfolio.ts
  backend/src/services/priceHistoryService.ts
Due: backend

Add historical performance charts and project documentation
  AGENTS.md
  docs/plan/FEATURE_REQUESTS.md
  docs/plan/IMPLEMENTATION_PLAN.md
  docs/plan/README.md
  docs/plan/ROADMAP.md
  docs/plan/features/01-historical-charts/roadmap.md
  docs/plan/features/02-csv-import-export/roadmap.md
  docs/plan/features/03-price-alerts/roadmap.md
  docs/plan/features/04-advanced-metrics/roadmap.md
  docs/plan/features/05-dividend-tracking/roadmap.md
  docs/plan/features/06-multiple-portfolios/roadmap.md
  docs/plan/features/07-exchange-api-sync/roadmap.md
  docs/plan/features/08-mobile-pwa/roadmap.md
  docs/plan/features/09-tax-reporting/roadmap.md
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/components/AssetChartModal.css
  frontend/src/components/AssetChartModal.tsx
  frontend/src/components/PerformanceChart.css
  frontend/src/components/PerformanceChart.tsx
  frontend/src/services/api.ts
  plan/features/historical_performance_charts.md
Due: frontend

update price-history
  backend/package-lock.json
  backend/package.json
  backend/src/collector/collector.ts
  backend/src/collector/index.ts
  backend/src/db/index.ts
  backend/src/index.ts
  backend/src/routes/assets.ts
  backend/src/routes/history.ts
  backend/src/routes/portfolio.ts
  backend/src/services/priceHistoryService.ts
  backend/src/services/priceService.ts
  docs/plan/features/01-historical-charts/roadmap.md
Due: backend

test: enhance backend test coverage
  backend/src/__tests__/api.test.ts
  backend/src/__tests__/cache.test.ts
  backend/src/__tests__/config.test.ts
  backend/src/__tests__/db.test.ts
  backend/src/__tests__/priceHistoryService.test.ts
  backend/src/__tests__/priceService.test.ts
Due: backend

Update docs and fix vitest mock typing
  AGENTS.md
  README.md
  backend/src/__tests__/priceService.test.ts
Due: backend

fix test
  backend/src/collector/collector.ts
  backend/src/services/priceHistoryService.ts
Due: backend

feat: add Tiingo API fallback and real-time price updates
  backend/config/development.json
  backend/config/production.json
  backend/package-lock.json
  backend/package.json
  backend/src/index.ts
  backend/src/routes/history.ts
  backend/src/routes/ws.ts
  backend/src/services/priceService.ts
  backend/src/services/realtimePriceService.ts
  backend/src/utils/config.ts
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/hooks/useRealtimePrices.ts
  frontend/src/services/api.ts
Due: backend, frontend

fix: convert PORT to number for TypeScript compatibility
  backend/src/index.ts
Due: backend

chore: disable e2e workflow temporarily
  .github/workflows/ci.yml
Due: none

deploy: ac24b7f86c3ff99111d9cab80cde4f41d525c26f
  pr-15/assets/index-BKtJW1sT.css
  pr-15/assets/index-_VOC0khN.js
  pr-15/index.html
  pr-15/vite.svg
Due: none

deploy: 6008b484e7d293bd7319607d95b9710c2f8a675d
  assets/index-BKtJW1sT.css
  assets/index-DuAo7lWz.css
  assets/index-R7U9iVpJ.js
  assets/index-_VOC0khN.js
  index.html
  pr-15/index.html
  pr-15/vite.svg
Due: none

test(backend): add comprehensive tests for realtimePriceService
  backend/src/__tests__/realtimePriceService.test.ts
Due: backend

feat: improve price history tracking and realtime price service
  backend/src/__tests__/collector.test.ts
  backend/src/collector/collector.ts
  backend/src/services/priceHistoryService.ts
  backend/src/services/realtimePriceService.ts
  frontend/src/App.tsx
Due: backend, frontend

deploy: 05f66cc0a290723e3d406882b96457bfc5be3590
  pr-16/assets/index-BKtJW1sT.css
  pr-16/assets/index-DGZLzqU_.js
  pr-16/index.html
  pr-16/vite.svg
Due: none

feat: add user authentication and multi-user data isolation
  AGENTS.md
  backend/.env.example
  backend/package-lock.json
  backend/package.json
  backend/scripts/migrate_to_user.js
  backend/src/__tests__/api-with-auth.test.ts
  backend/src/__tests__/api.test.ts
  backend/src/__tests__/auth.test.ts
  backend/src/__tests__/cache.test.ts
  backend/src/__tests__/collector.test.ts
  backend/src/__tests__/priceHistoryService.test.ts
  backend/src/__tests__/realtimePriceService.test.ts
  backend/src/collector/collector.ts
  backend/src/collector/index.ts
  backend/src/db/index.ts
  backend/src/db/users.ts
  backend/src/index.ts
  backend/src/middleware/auth.ts
  backend/src/routes/accounts.ts
  backend/src/routes/assets.ts
  backend/src/routes/auth.ts
  backend/src/routes/history.ts
  backend/src/routes/holdings.ts
  backend/src/routes/portfolio.ts
  backend/src/routes/transactions.ts
  backend/src/services/priceHistoryService.ts
  backend/src/services/realtimePriceService.ts
  frontend/e2e/auth.spec.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/components/ProtectedRoute.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/main.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/Register.tsx
  frontend/src/services/api.ts
  frontend/src/test/auth.test.ts
  frontend/src/types/auth.ts
Due: backend, frontend

deploy: e8dc10ffbc38f68321bb5833cd9212a821ff1b2a
  pr-16/assets/index-BKtJW1sT.css
  pr-16/assets/index-C8GPYsLo.css
  pr-16/assets/index-D-yCS6iE.js
  pr-16/assets/index-DGZLzqU_.js
  pr-16/index.html
Due: none

deploy: 6a593a239af3abae48fcfdff11a28c3803bba5f6
  assets/index-BKtJW1sT.css
  assets/index-C8GPYsLo.css
  assets/index-D-yCS6iE.js
  assets/index-_VOC0khN.js
  index.html
  pr-16/index.html
  pr-16/vite.svg
Due: none

feat: add price alerts, rebalancing suggestions and advanced metrics
  README.md
  backend/src/__tests__/api-with-auth.test.ts
  backend/src/db/index.ts
  backend/src/index.ts
  backend/src/routes/alerts.ts
  backend/src/routes/portfolio.ts
  backend/src/services/alertService.ts
  backend/src/services/metricsService.ts
  backend/src/services/rebalancingService.ts
  frontend/src/App.tsx
  frontend/src/components/AlertManager.css
  frontend/src/components/AlertManager.tsx
  frontend/src/components/MetricsPanel.css
  frontend/src/components/MetricsPanel.tsx
  frontend/src/components/RebalancingWidget.css
  frontend/src/components/RebalancingWidget.tsx
  frontend/src/services/api.ts
  plans/FEATURE_IMPLEMENTATION_PLAN.md
  plans/PHASE_1_DETAILED_SPEC.md
Due: backend, frontend

feat: enhance alerts system with user isolation, error handling, and concurrency protection
  .kilocodemodes
  backend/src/__tests__/api-with-auth.test.ts
  backend/src/db/index.ts
  backend/src/index.ts
  backend/src/routes/alerts.ts
  backend/src/routes/portfolio.ts
  backend/src/services/alertService.ts
Due: backend

deploy: e04414c7fb3a06f9ba48b8e5de0dac12f56a81c7
  pr-17/assets/index-BpSRWaOG.js
  pr-17/assets/index-CNCrqrVt.css
  pr-17/index.html
  pr-17/vite.svg
Due: none

deploy: bd815a48da892a8c3d08737b8ba21eda2c0b1527
  assets/index-BpSRWaOG.js
  assets/index-C8GPYsLo.css
  assets/index-CNCrqrVt.css
  assets/index-D-yCS6iE.js
  index.html
  pr-17/index.html
  pr-17/vite.svg
Due: none

feat(backend): migrate from sql.js to Drizzle ORM with better-sqlite3
  backend/drizzle.config.ts
  backend/package-lock.json
  backend/package.json
  backend/src/__tests__/api-with-auth.test.ts
  backend/src/collector/collector.ts
  backend/src/db/drizzle.ts
  backend/src/db/index.ts
  backend/src/db/schema.ts
  backend/src/db/users.ts
  backend/src/index.ts
  backend/src/routes/accounts.ts
  backend/src/routes/alerts.ts
  backend/src/routes/assets.ts
  backend/src/routes/auth.ts
  backend/src/routes/history.ts
  backend/src/routes/holdings.ts
  backend/src/routes/portfolio.ts
  backend/src/routes/transactions.ts
  backend/src/services/alertService.ts
  backend/src/services/priceHistoryService.ts
  backend/src/services/rebalancingService.ts
Due: backend

fix(backend): repair collector timestamp sql and test fixtures for global assets
  backend/src/__tests__/collector.test.ts
  backend/src/__tests__/priceHistoryService.test.ts
  backend/src/__tests__/realtimePriceService.test.ts
  backend/src/collector/collector.ts
Due: backend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
